# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
/.pnp
.pnp.js

# Production / Build output
dist/
dist-ssr/
build/
*.local

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Temporary files
.tmp/
scratch/
